@font-size: 40;
@total-width: 400;
@numPad-width: (@total-width * .73);
@funcPad-width: (@total-width * .23);

.bordered(@color) /*when (iscolor(@color))*/ {
	border: 1px solid @color;
}
.withMargin() {
	margin: 3px;
}
.centered() {
	display: table;
	p {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: @font-size;
	}
}

.calculator {
	.bordered(black);
	width: unit(@total-width, px);
	height: 397px;

	#result {
		.bordered(black);
		.withMargin();
		height: 50px;
		font-weight: bold;
		font-size: @font-size;
		span {
			.withMargin();
			display: inline-block;
			vertical-align: middle;	
		}
	}

	.numPad,
	.functionPad {
		.withMargin();
	}

	.numPad {
		width: unit(@numPad-width, px);
		float: left;
	}

	.functionPad {
		width: unit(@funcPad-width, px);
		float: right;
	}

	.key {
		.bordered(black);
		.withMargin();
		.centered();
		width: 87px;
		height: 75px;
		float: left;
		cursor: pointer;

		&.span2 {
			width: 181px;
		}

		&.span3 {
			width: 277px;
		}
	}
}